<!-- Simple Language Switcher -->
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="languageDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="ti ti-world"></i>
    {% if site.active_lang == 'en' %}
      EN
    {% elsif site.active_lang == 'zh_CN' %}
      中文
    {% else %}
      {{ site.active_lang }}
    {% endif %}
  </a>
  <div class="dropdown-menu" aria-labelledby="languageDropdown">
    {% for lang in site.languages %}
      {% if lang != site.active_lang %}
        {% comment %} 简单版本：直接链接到对应语言的首页 {% endcomment %}
        {% if lang == site.default_lang %}
          {% assign lang_url = '/' %}
        {% else %}
          {% assign lang_url = '/' | append: lang | append: '/' %}
        {% endif %}

        <a class="dropdown-item" {% static_href %} href="{{ lang_url }}" {% endstatic_href %}>
          {% if lang == 'en' %}
            <i class="ti ti-flag-2"></i> English
          {% elsif lang == 'zh_CN' %}
            <i class="ti ti-flag-2"></i> 中文
          {% else %}
            <i class="ti ti-flag-2"></i> {{ lang }}
          {% endif %}
        </a>
      {% endif %}
    {% endfor %}
  </div>
</li>
