/*******************************************************************************
 * Footer styles
 ******************************************************************************/

@use "variables" as v;

footer {
  font-family: v.$font-family-base;
  font-weight: v.$font-weight-normal;
  letter-spacing: v.$letter-spacing-normal;

  &.fixed-bottom {
    background-color: var(--global-footer-bg-color);
    font-size: v.$font-size-xs;

    .container {
      color: var(--global-footer-text-color);
      padding-top: 9px;
      padding-bottom: 8px;
      text-align: center;
    }

    a {
      color: var(--global-footer-link-color);

      &:hover {
        color: var(--global-theme-color);
        text-decoration: none;
      }
    }
  }

  &.sticky-bottom {
    border-top: 1px solid var(--global-divider-color);
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: v.$font-size-sm;

    .container {
      text-align: center;
    }
  }
}
