/*******************************************************************************
 * Footer styles
 ******************************************************************************/

@use "variables" as v;

footer {
  font-family: v.$font-family-base;
  font-weight: v.$font-weight-normal;
  letter-spacing: v.$letter-spacing-normal;

  .footer-item {
    display: inline;
  }

  .footer-separator {
    margin: 0 0.4rem;
    opacity: 0.6;
    user-select: none;
  }

  .footer-updated {
    opacity: 0.75;
  }

  &.fixed-bottom {
    background-color: var(--global-footer-bg-color);
    font-size: v.$font-size-xs;

    .container {
      color: var(--global-footer-text-color);
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: center;
    }

    .footer-separator {
      color: var(--global-footer-text-color);
    }

    a {
      color: var(--global-footer-link-color);

      &:hover {
        color: var(--global-theme-color);
        text-decoration: none;
      }
    }
  }

  &.sticky-bottom {
    border-top: 1px solid var(--global-divider-color);
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: v.$font-size-sm;

    .container {
      color: var(--global-text-color-light);
      text-align: center;
    }

    a {
      color: var(--global-theme-color);

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
